#signedIn {
  display: none;
}

#signUpForm {
  display: none;
}

img {
  width: 300px;
  position: relative;
}

body {
  background: url("cubes.jpg");
}

h1 {
  text-align: center;
}

#signInForm {
  padding-top: 300px;
  text-align: center;
  display: block;
  background: #CEC1B1;
  margin: 0 auto;

}

#signInButton {
  border: 0;
  margin: 0;
  border-radius: 4px;
  padding: 14px 32px;
  border-color: black;
  cursor: pointer;
  height: 45px;
  display: inline-block;
  font-size: 12px;
  font-family: Slack-Lato, sans-serif;
  font-weight: 700;
  background-color: #42c299;
  color: #fff !important;
  text-shadow: none;
  position: relative;
  text-decoration: none;
}

input[type=email],
input[type=password],
input[type=text],
input[type=date] {
  border: 10px;
  border-radius: 0;
  border-color: black;
  box-shadow: 0;
  font-size: 14px;
  padding: 8px 10px;
}

#signUpButton {
  border: 0;
  margin: 0;
  border-radius: 4px;
  padding: 14px 32px;
  border-color: black;
  cursor: pointer;
  height: 45px;
  display: inline-block;
  font-size: 12px;
  font-family: Slack-Lato, sans-serif;
  font-weight: 700;
  background-color: #42c299;
  color: #fff !important;
  text-shadow: none;
  position: relative;
  text-decoration: none;
}

.nameColumn {
  padding-right: 30px;
}

.predictionColumn {
  padding-right: 30px;
}
#submitButton {
  border: 0;
  margin: 0;
  border-radius: 4px;
  padding: 14px 32px;
  border-color: black;
  cursor: pointer;
  height: 45px;
  display: inline-block;
  font-size: 12px;
  font-family: Slack-Lato, sans-serif;
  font-weight: 700;
  background-color: #42c299;
  color: #fff !important;
  text-shadow: none;
  position: relative;
  text-decoration: none;
}
